body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color .5s ease;
    position: relative;
}

.night-theme {
    background-color: #333;
    color: #f0f0f0;
}

#theme-toggle {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 12px;
    right: 10px;
    margin-right: 15px;
}

#theme-toggle img {
    width: 100%;
    height: 100%;
}

.redirect-links {
    position: absolute;
    top: 18px;
    right: 100px;
    font-size: 32px;
    letter-spacing: 2px;
}

.redirect-links a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.night-theme .redirect-links a {
    color: white;
}

.header {
    font-size: 55px;
    margin-top: -200px;
    margin-left: 75px;
    margin-right: auto;
    max-width: 1150px;
    letter-spacing: 3px;
}

.aj-task {
    position: absolute;
    top: 18px;
    left: 25px;
    font-size: 32px;
    letter-spacing: 2px;
}

.header .wave-hand {
    display: inline-block;
    animation: wave 2s infinite;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

form {
    width: 100%;
    max-width: 650px;
}

.sub-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-name,
.input-email,
.input-message {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
}

label {
    position: absolute;
    top: -18px;
    left: 42%;
    background-color: white;
    padding: 0 5px;
    font-size: 25px;
    color: rgb(4, 4, 4);
    margin: 0px;
    transform: translateX(-50%); 
    transition: transform 0.2s ease-out, font-size 0.2s ease-out;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-size: 15px;
    transition: border-color 0.2s ease-out;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    transform: translateY(-16px);
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 5px;
}

.button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button:hover,
.button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.socials {
    align-items: baseline;
    position: fixed;
    bottom: 0;
    left: -50;
}

.input-message textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    font-size: 15px;
    transition: border-color 0.2s ease-out;
    resize: vertical;
}